<div class="container">
    <div class="col-12 d-flex justify-content-between align-items-center first-div mb-3">
        <p class="shopping-cart-title">Shopping Cart <span>(1 Item)</span></p>
        <p class="xsign" (click)="closeDialog()">x</p>
    </div>

    <div class="offer-section text-center mb-4">
        <p class="offer-text">Get started for best Offers!</p>
        <button class="btn btn-login">Login / Sign up</button>
    </div>

    <div class="row">
        <!-- Product Card and Price Details in the same column -->
        <div class="col-lg-12 col-md-12 mb-4">
            <div class="card p-3 mb-3">
                <div class="d-flex align-items-center mb-3">
                    <img src="../../assets/images/image 30.png" alt="Product Image" class="product-image me-3">
                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between">
                            <p class="product-title">MS 170 Petrol Chainsaw</p>
                            <p class="edit-button"><i class="fa-regular fa-trash-can"></i></p>
                        </div>
                        <p class="product-desc">2.8 kW (3.8 hp) STIHL 2-MIX engine</p>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center price-details">
                    <p class="qty-text mb-0">QTY: 1</p>
                    <span class="price-text">₹18,666 <del class="text-muted">₹23,866</del></span>
                </div>
            </div>
            <div class="card p-3 mb-3 price-details-box">
                <span class="price-details-title mb-3">Price Details</span>
                <ul class="list-unstyled mb-4">
                    <li class="d-flex justify-content-between">
                        <span>Your Cart (1 Item)</span>
                        <span>₹32,866</span>
                    </li>
                    <li class="d-flex justify-content-between">
                        <span>Bag Discount</span>
                        <span>₹18,666</span>
                    </li>
                    <li class="d-flex justify-content-between">
                        <span>Shipping</span>
                        <span class="text-success">FREE</span>
                    </li>
                </ul>
                <hr>
                <div class="d-flex justify-content-between mb-3">
                    <strong class="subtotal-title">Subtotal</strong>
                    <strong class="subtotal-amount">₹18,666</strong>
                </div>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-proceed" type="button" (click)="navigateToCartComponent()" (click)="closeDialog()">Proceed</button>
            </div>
        </div>
    </div>
</div>
