<div class="container-fluid vh-100">
    <div class="row">
        <div class="col-lg-6 p-0 ">
            <img src="../../assets/images/sign in image.png" alt="Background Image" class="img-fluid h-100 w-100  object-fit-cover">
        </div>

        <div class="col-lg-6 col-md-12 d-flex justify-content-center">
            <div class="sign-in-form">
                <div>
                    <img src="../../assets/images/image 17.png" alt="Logo" class="mb-4 imgoflogo">
                    <h2 class="sign mb-4 background: #FF6900;">Sign In To STIHL</h2>
                </div>
             

                <div class="d-flex gap-5 mb-3">
                    <button class="btn flex-fill border border-dark" type="button">
                        <!-- <i class="fa-brands fa-google">Sign up with Google</i>  -->
                        <img src="../../assets/images/google-img.png" alt="" class="mb-5"> Sign up with Google
                    </button>

                    <button class="btn flex-fill border border-dark" type="button">
                        <!-- <i class="fa-brands fa-google">Sign up with Google</i>  -->
                        <img src="../../assets/images/facebook-sign.png" alt="" class="mb-5"> Sign up with Facebook
                    </button>
                    
                    <!-- <button class="btn btn-outline-primary flex-fill" type="button">
                        <i class="fab fa-facebook-f"></i> Sign up with Facebook
                    </button> -->
                </div>

                <div class="text-center mb-3">
          <span>— OR —</span>
        </div>


                <!-- this is code for input feild -->
                <div class="form-outline" data-mdb-input-init>
                    <label class="form-label" for="email"></label>
                    <input type="text" id="email" class="form-control" placeholder="Email" />
                   
                  </div>
                  <div class="form-outline mb-4" data-mdb-input-init>
                    <label class="form-label" for="password"></label>
                    <input type="text" id="password" class="form-control"  placeholder="Password"/>
                    
                  </div>
             


                <button data-mdb-ripple-init type="button" class="btn button-color  btn-block mb-4 mt-4">Sign In</button>
                <button data-mdb-ripple-init type="button" class="btn button-border btn-block  mb-2">Sign Up</button>

                <div>
                    <p class="text-end"> Forget Password?</p>
                </div>
                
                <div class="footer text-end1 ">
                    <p class=" color1">STHIL Terms & Conditions</p>
                  </div>
           
        </div>
        
    </div>
    
</div>

