<div class="container-fluid">
    <div class="row first-row mb-2">
        <div class="col-12">
            <p class="first-head">20% OFF on Orders above ₹7000</p>
        </div>
    </div>
    <div class="row mb-1 second-row py-2">
        <div class="col-12 col-md-4 text-left icons">
            <span>Welcome to <span class="sthiltxt">STHIL!</span></span>
        </div>
        <div class="col-12 col-md-8 text-center icons">
            <ol>
                <li class="header-icon"><i class="mar fa-solid fa-location-dot"></i>Deliver to 423651</li> |
                <li class="header-icon"><i class="mar fa-solid fa-truck"></i>Track your order</li> |
                <li class="header-icon"><i class="mar fa-solid fa-gift"></i>All Offers</li> |
                <li class="header-icon"><i class="mar fa-solid fa-file-circle-question"></i>Buying Guide </li> |
                <li class="header-icon"><i class="mar fa-solid fa-cart-arrow-down"></i>Customer Order</li>
            </ol>
        </div>
    </div>
    <div class="row align-items-center header-row">
        <div class="col-6 col-md-4 text-center">
            <button class="menu-btn">
                <img src="../../assets/images/Group 2.png" alt="Menu">
            </button>
            <img src="../../assets/images/image 17.png" alt="Logo" class="logo">
        </div>
        <div class="col-md-4 d-none d-md-block">
            <div class="search">
                <i class="fa-solid fa-magnifying-glass" style="color: #FF6900;"></i>
                <input type="search" class="form-control search-bar" placeholder="Search essentials, batteries and more...">
                <i class="fa-solid fa-bars" style="color: #FF6900;"></i>
            </div>
        </div>
        <div class="col-6 col-md-4 text-center">
            <ol>
                <li class="header-icon-1"><i class="mar1 fa-regular fa-user"></i>Sign Up/Sign In</li> |
                <li class="header-icon-1"><i class="mar1 fa-regular fa-heart"></i>Wishlist</li> |
                <li class="header-icon-1"><i class="mar1 fa-solid fa-cart-shopping"></i>Cart</li>
            </ol>
        </div>
    </div>
</div>
