/* Footer Styles */
.footer {
    background-color: #2c2c2c;
    color: #f5f5f5;
    padding: 20px 10px;
    font-family: Inter;
}
/* .footer-logo{
    width: 166px;
height: 82px;
top: 64.67px;
left: 160px;
gap: 0px;
opacity: 0px;

} */

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col {
    flex: 1;
    margin: 15px;
    min-width: 250px;
}

.footer-logo {
    width: 100px;
    margin-bottom: 15px;
}

.footer-col h4 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #fff;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.footer-col ul {
    list-style-type: none;  
    padding-left: 20px;
    margin: 0;
}
.no a{
    /* font-family: Inter; */
    list-style-type: disc;  
    color: white !important;
    text-decoration: none;
}

.footer-col ul li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #f5f5f5;
}

.footer-col ul li a {
    /* font-family: Inter; */
    color: #f5f5f5;
    text-decoration: none;
}

.footer-col ul li a:hover {
   
    text-decoration: underline;
}
.footer-bottoms{
    border: 1px solid #FF6900;
}

.footer-bottom {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 12px;
    color: #7e7e7e;
    /* padding-top: 10px; */
    text-align: center;
    align-items: center
}

.all-right {
    /* font-family: Inter; */
    font-size: 14px;
    font-weight: 400;
    line-height: 26.67px;
    margin-left: 30px;
    align-items: center;
}

.all-image {
    width: 200px;
    height: auto;
    margin: 10px 0;
    opacity: 1;
    
}
.all-rights{
    width: 260px;
}
.contact-info{
    font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 26.67px;
text-align: left;

}

/* Responsive Design */
@media (max-width: 768px) {
    .footer .row {
        flex-direction: column;
    }

    .footer-col {
        margin: 10px 0;
    }

    .all-image {
        width: 100px;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .all-right {
        font-size: 12px;
    }
    .footer-bottom {
        flex-direction: column;
       align-items: center;
    }
    .all-rights{
        display: none;
    }
}
