/* Footer Styles */
.footer {
    background-color: #2c2c2c;
    color: #f5f5f5;
    padding: 20px 10px;
    font-family: Inter, sans-serif;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col {
    flex: 1;
    margin: 15px;
    min-width: 200px; 
}

.footer-logo {
    width: 100px;
    margin-bottom: 15px;
}

.footer-col h4 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #fff;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.footer-col ul {
    list-style-type: none;
    padding-left: 20px;
    margin: 0;
}

.no a {
    color: white !important;
    text-decoration: none;
}

.footer-col ul li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #f5f5f5;
}

.footer-col ul li a {
    color: #f5f5f5;
    text-decoration: none;
}

.footer-col ul li a:hover {
    text-decoration: underline;
}

.footer-bottoms {
    border: 1px solid #FF6900;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    font-size: 12px;
    color: #7e7e7e;
    text-align: start;
    padding-top: 10px;
}
.footer-bottom p{
    text-align: start;
}

.all-right {
    font-size: 14px;
    font-weight: 400;
    line-height: 26.67px;
    margin-left: 30px;
}

.all-image {
    width: 200px;
    height: auto;
    margin: 10px 0;
}

.all-rights {
    width: 260px;
}

.contact-info {
    font-size: 15px;
    font-weight: 400;
    line-height: 26.67px;
    text-align: left;
}

/* Responsive Design */
@media (max-width: 992px) {
    .footer .row {
        flex-direction: column;
       
    }

    .footer-col {
        margin: 10px 0;
        min-width: 250px;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .all-right {
        font-size: 12px;
        margin-left: 0;
    }

    .all-image {
        width: 150px;
    }

    .all-rights {
        display: none;
    }
}

@media (max-width: 768px) {
    .footer-col {
        margin: 10px 0;
        min-width: 200px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .all-right {
        font-size: 12px;
    }

    .all-image {
        width: 120px;
    }
}

@media (max-width: 576px) {
    .footer .container {
        padding: 0 10px;
    }

    .footer .row {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .footer-col {
        margin: 10px 0;
        min-width: 100%;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .all-right {
        font-size: 12px;
        margin-left: 0;
    }

    .all-image {
        width: 100px;
    }
}


@media (max-width: 480px) {
    .footer-col h4 {
        font-size: 16px;
    }

    .contact-info {
        font-size: 14px;
    }

    .footer-col ul li {
        font-size: 12px;
    }

    .all-image {
        width: 80px;
    }
}
