<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Company Info -->
            <div class="footer-col">
                <img src="../../assets/images/image 17.png" alt="STIHL Logo" class="footer-logo">
                <p>STIHL Group develops, manufactures and distributes power tools for professional forestry and agriculture, landscape maintenance, the construction sector, and private garden owners. Digital solutions and services complement the core product range. STIHL products are sold by 53,000 specialized retailing dealers in over 160 countries and the marketing subsidiary, with 41 of its own sales and marketing companies, and more than 53,000 dealers. STIHL has been the world's top-selling chain saw brand since 1971.</p>
            </div>
            <!-- Contact Info -->
            <div class="footer-col">
                <h4>Contact Info</h4>
                <ul>
                    <li><strong><i class="fa-solid fa-envelope"></i>&nbsp; Mail:</strong><br> info.stihlgrouponline.com</li>
                    <li><strong><i class="fa-solid fa-phone"></i>&nbsp; Phone:</strong><br> +91 9822978980</li>
                    <li><strong><i class="fa-solid fa-location-dot"></i>&nbsp; Address:</strong><br> ANDREAS STIHL PVT LTD, PLOT NO E-7/8, CHAKAN MIDC INDUSTRIAL AREA, PHASE II, PUNE, INDIA - 410 501</li>
                </ul>
            </div>
            <!-- My Account -->
            <div class="footer-col">
                <h4>My Account</h4>
                <ul>
                    <li class="no"><a href="#">Login</a></li>
                    <li class="no"><a href="#">Track Order</a></li>
                    <li class="no"><a href="#">My Wishlist</a></li>
                    <li class="no"><a href="#">Order History</a></li>
                </ul>
            </div>
            <!-- Important Links -->
            <div class="footer-col">
                <h4>Important Links</h4>
                <ul>
                    <li class="no"><a href="#">Facebook</a></li>
                </ul>
            </div>
        </div>
       
    </div>
    <div class="footer-bottoms"></div>
    <div class="container">
    <div class="footer-bottom">
        <p class="all-right">&copy; 2024 All rights reserved. STIHL</p>
        <img class="all-image" src="../../assets/images/image 25.png" alt="STIHL Logo">
        <p class="all-rights"></p>

    </div>
</div>
</footer>
