
<app-header></app-header>

<div class="row d-flex ">
    <div class="col d-flex align-items-center justify-content-center">
        <img src="../../assets/images/image 22.png" alt="">
        <p>All Battery Products</p>
    </div>
    <div class="col d-flex align-items-center ">
        <img src="../../assets/images/image 22.png" alt="">
        <p>Cleaning and tidying</p>
    </div>
    <div class="col d-flex align-items-center ">
        <img src="../../assets/images/image 22.png" alt="">
        <p>Sawing and Cutting</p>
    </div>
    <div class="col d-flex align-items-center ">
        <img src="../../assets/images/image 22.png" alt="">
        <p>Mowing and planting</p>
    </div>
</div>
<!-- <div class="container mt-5">
    <h2>Wishlist</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let item of wishlist">
        <div class="card">
          <div class="position-relative">
            <img [src]="item.image" class="card-img-top" alt="Product Image">
            <span *ngIf="item.discount" class="badge bg-warning text-dark position-absolute top-0 end-0 m-2">
              {{ item.discount }}% Off
            </span>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">{{ item.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <span class="text-danger fw-bold">{{ item.price | currency }}</span>
                <span class="text-muted text-decoration-line-through">{{ item.originalPrice | currency }}</span>
              </div>
              <button class="btn btn-outline-primary">
                <i class="bi bi-cart-plus"></i> Add to Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="col-12 col-md-8 m-5">
    <div class="container-fluid">
        <div class="cart-d">
            <p>
                <span class="cart-text">Wishlist </span> 
                
            </p>
        </div>
        <div class="row mb-5">
            <!-- Repeat this block for each product -->
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card product_card">
                    <div class="product-card">
                        <div class="product_img">
                            <img src="../../assets/images/image 30.png" alt="Product Image" class="img-fluid product_image">
                        </div>
                        <p class="product_title">MSA 160 Cordless Chainsaw - AP system</p>
                        <p class="product_description">Flexible cordless chainsaw for range of uses</p>
                        <div class="product_price">
                            <span>₹28,385</span> &nbsp; &nbsp;
                            <span class="old-price"><del>₹40,000</del></span>
                        </div>
                        <hr>
                        <div class="save_price d-flex  align-items-center justify-content-between">
                            <button class="btn btn-outline btn-block btn-sm" style="color: #FF6900; border: 1px solid #FF6900; background-color: white;"><i class="fa-solid fa-cart-shopping"></i>&nbsp;Add to Cart</button>
                            <i class="size fa-regular fa-trash-can" style="color: #8D8D8D;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card product_card">
                    <div class="product-card">
                        <div class="product_img">
                            <img src="../../assets/images/image 30.png" alt="Product Image" class="img-fluid product_image">
                        </div>
                        <p class="product_title">MSA 160 Cordless Chainsaw - AP system</p>
                        <p class="product_description">Flexible cordless chainsaw for range of uses</p>
                        <div class="product_price">
                            <span>₹28,385</span> &nbsp; &nbsp;
                            <span class="old-price"><del>₹40,000</del></span>
                        </div>
                        <hr>
                        <div class="save_price d-flex  align-items-center justify-content-between">
                            <button class="btn btn-outline btn-block btn-sm" style="color: #FF6900; border: 1px solid #FF6900; background-color: white;"><i class="fa-solid fa-cart-shopping"></i>&nbsp;Add to Cart</button>
                            <i class="size fa-regular fa-trash-can" style="color: #8D8D8D;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 ">
                <div class="card product_card">
                    <div class="product-card">
                        <div class="product_img">
                            <img src="../../assets/images/image 30.png" alt="Product Image" class="img-fluid product_image">
                        </div>
                        <p class="product_title">MSA 160 Cordless Chainsaw - AP system</p>
                        <p class="product_description">Flexible cordless chainsaw for range of uses</p>
                        <div class="product_price">
                            <span>₹28,385</span> &nbsp; &nbsp;
                            <span class="old-price"><del>₹40,000</del></span>
                        </div>
                        <hr>
                        <div class="save_price d-flex  align-items-center justify-content-between">
                            <button class="btn btn-outline btn-block btn-sm" style="color: #FF6900; border: 1px solid #FF6900; background-color: white;"><i class="fa-solid fa-cart-shopping"></i>&nbsp;Add to Cart</button>
                            <i class="size fa-regular fa-trash-can" style="color: #8D8D8D;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        <app-footer></app-footer>



  