<app-header></app-header>

<div class="container mt-5">
    <div class="row">
        <div class="col-3">
        <p>Compare MSA 170 Petrol Chainsaw VS
            MSA 160 Cordless...</p>
        </div>

        <div class="col-3">
            <div class="card">
                <img src="../../assets/images/image 30.png" class="card-img-top" alt="Product 1">
                <div class="card-body">
                  <h5 class="card-title">Product 1</h5>
                  <p class="card-text">Product Description</p>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                </div>
              </div>
        </div>

        <div class="col-3">
            <div class="card">
                <img src="../../assets/images/image 30.png" class="card-img-top" alt="Product 1">
                <div class="card-body">
                  <h5 class="card-title">Product 1</h5>
                  <p class="card-text">Product Description</p>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                </div>
              </div>
        </div>

        <div class="col-3">
        <p>Add A Product</p>

        <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        </select>
        </div>

    </div>
    <div class="row mt-5 text-center">
        <div class="col-3">
            <p>Ratings & Reviews</p>
        </div>
        <div class="col-3">
            <img src="../../assets/images/image 963.png" alt="">
        </div>
        <div class="col-3">
            <img src="../../assets/images/image 963.png" alt="">
        </div>
        <div class="col-3">
            
        </div>
    </div>
    <div class="row mt-2 text-center ">
        <div class="col-3">
            <p>General </p>
        </div>
    </div>

    <div class="row mt-2 text-center">
        <div class="col-3">
            <p>Rated voltage</p>
        </div>
        <div class="col-3">
            <p>230 V</p>
        </div>
        <div class="col-3">
            <p>36 V</p>
        </div>
    </div>

    <div class="row mt-2 text-center">
        <div class="col-3">
            <p>Weight</p>
        </div>
        <div class="col-3">
            <p>4.3 kilogram </p>
        </div>
        <div class="col-3">
            <p>3.1 kilogram </p>
        </div>
    </div>

    <div class="row mt-2 text-center">
        <div class="col-3">
            <p>Weight</p>
        </div>
        <div class="col-3">
            <p>4.3 kilogram </p>
        </div>
        <div class="col-3">
            <p> 6.8 pound </p>
        </div>
    </div>

    <div class="row mt-2 text-center">
        <div class="col-3">
            <p>System Weight</p>
        </div>
        <div class="col-3">
            <p>-</p>
        </div>
        <div class="col-3">
            <p>4.4 kilogram</p>
        </div>
    </div>
    <div class="row mt-2 text-center">
        <div class="col-3">
            <p>Sound pressure level</p>
        </div>
        <div class="col-3">
            <p>-</p>
        </div>
        <div class="col-3">
            <p>84 dB(A)( 2)</p>
        </div>
    </div>

    <div class="row mt-2 text-center">
        <div class="col-3">
            <p>Bar Length</p>
        </div>
        <div class="col-3">
            <p>35 CM</p>
        </div>
        <div class="col-3">
            <p>-</p>
        </div>
    </div>

    <div class="row mt-5 text-center">
        <div class="col-3">
            <p>Dimensions</p>
        </div>   
    </div>

    <div class="row mt-2 text-center">
        <div class="col-3">
            <p>Bar Length</p>
        </div>
        <div class="col-3">
            <p>35 CM</p>
        </div>
        <div class="col-3">
            <p>-</p>
        </div>
    </div>

    <div class="row mt-2 text-center">
        <div class="col-3">
            <p>Bar Length</p>
        </div>
        <div class="col-3">
            <p>35 CM</p>
        </div>
        <div class="col-3">
            <p>-</p>
        </div>
    </div>

    <div class="row mt-2 text-center">
        <div class="col-3">
            <p>Bar Length</p>
        </div>
        <div class="col-3">
            <p>35 CM</p>
        </div>
        <div class="col-3">
            <p>-</p>
        </div>
    </div>

    <div class="row mt-2 text-center">
        <div class="col-3">
            <p>Bar Length</p>
        </div>
        <div class="col-3">
            <p>35 CM</p>
        </div>
        <div class="col-3">
            <p>-</p>
        </div>
    </div>

<div class="row mt-5 text-center">
        <div class="col-3">
            <p>Warranty</p>
        </div>   
    </div>

    <div class="row mt-2 text-center">
        <div class="col-3">
            <p>Warranty Summary</p>
        </div>
        <div class="col-3">
            <p>1 Year Manufacturing Warranty</p>
        </div>
        <div class="col-3">
            <p>1.2 Year Manufacturing Warranty</p>
        </div>
    </div>


    <div class="row mt-2 text-left">
        <div class="col-3">
            <p>Warranty Service Type</p>
        </div>
        <div class="col-3">
            <p>font-family: Inter;
                font-size: 23.62px;
                font-weight: 400;
                line-height: 29.88px;
                text-align: left;
                </p>
        </div>
        <div class="col-3">
            <p>For Warranty Claims or Any Product Related Issues Please Email at supportsthil.com</p>
        </div>
    </div>


    <div class="row mt-2 text-left">
        <div class="col-3">
            <p>Covered in Warranty</p>
        </div>
        <div class="col-3">
            <p>Warranty Against Manufacturing Defect</p>
        </div>
        <div class="col-3">
            <p>Warranty of the product is limited to manufacturing defects only.</p>
        </div>
    </div>


    <div class="row mt-2 text-left">
        <div class="col-3">
            <p>Not Covered in Warranty</p>
        </div>
        <div class="col-3">
            <p>The Warranty Does Not Cover Damages Due To Usage Of The Product Beyond Its Intended Use And In The Natural Course Of Product Usage.</p>
        </div>
        <div class="col-3">
            <p>The Warranty Does Not Cover Damages Due To Usage Of The Product Beyond Its Intended Use And In The Natural Course Of Product Usage.</p>
        </div>
    </div>


    <div class="row mt-2 text-left">
        <div class="col-3">
            <p>Bar Length</p>
        </div>
        <div class="col-3">
            <p>35 CM</p>
        </div>
        <div class="col-3">
            <p>-</p>
        </div>
    </div>


</div>



<!-- <section class="product-comparison">
    <div class="row">
      
      <div class="col-md-3">
        <div class="card">
          <img src="../../assets/images/image 30.png" class="card-img-top" alt="Product 1">
          <div class="card-body">
            <h5 class="card-title">Product 1</h5>
            <p class="card-text">Product Description</p>
            <a href="#" class="btn btn-warning">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="../../assets/images/image 30.png" class="card-img-top" alt="Product 2">
          <div class="card-body">
            <h5 class="card-title">Product 2</h5>
            <p class="card-text">Product Description</p>
            <a href="#" class="btn btn-warning">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="comparison-table">
         
        </div>
      </div>
    </div>
  </section> -->