.rating-number {
    background-color: green;
    padding: 0 5px; /* Adjust padding to fit your design */
    color: white; /* Change text color to white for contrast */
    border-radius: 3px; /* Optional: to make the background look better */
}

.rating {
    display: inline-flex; /* To keep the number and star aligned */
    align-items: center; 
}





.product_card {
    border: 1px solid #ddd; /* Adds a border around the card */
    border-radius: 8px; /* Rounds the corners of the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
    overflow: hidden; /* Ensures content doesn't overflow the card */
    transition: transform 0.3s ease; /* Smooth hover effect */
    /* width: 240px;
    height: 320px;
    gap: 0px;
    opacity: 0px; */

}

.product_card:hover {
    transform: translateY(-5px); /* Lifts the card slightly on hover */
}

.product_img {
    position: relative;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    background-color: #F5F5F5;
}

.product_image {
     top: 50%;
    left: 50%; 
     
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.product_title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin: 12px 0 8px 0;
    text-align: center; /* Centers the product title */
    
}

.product_description {
    font-size: 14px;
    color: #777;
    margin-bottom: 12px;
    text-align: center; /* Centers the product description */
}

.product_price {
    font-size: 18px;
    font-weight: 700;
    color: #ff5722; /* Color for the current price */
    text-align: center; /* Centers the price */
}

.old-price {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
}

.save_price {
    font-size: 11px;
    /* color: #28a745; Color for the "Save" text */
    text-align: center; /* Centers the save price */
    margin-bottom: 8px;
}

hr {
    border-top: 1px solid #ddd;
    margin: 12px 0;
}


.text1{
    font-family: Inter;
font-size: 25.07px;
font-weight: 500;
line-height: 31.71px;
text-align: left;

}
