<div class="container my-4">
    <div class="step-indicator mb-5">
        <div>
            <img class="size-img" src="../../assets/images/image 17.png" alt="">
        </div>
        <div class="step">1</div>
        <div class="step-title">Cart ----------</div>
        <div class="step">2</div>
        <div class="step-title ">Address -------------</div>
        <div class="step">3</div>
        <div class="step-title">Payment ---------</div>
        <div class="step active">4</div>
        <div class="step-title active-title">Summary</div>
    </div>
    

    <div class="cart-d">
        <p>
            <span class="cart-text">Summary </span> 
            
        </p>
    </div>
    <div class="row mt-4 " id="Select1">
        <p class="pam1">Product Details</p>
      <div class="col-lg-6 col-md-12 mb-4">
        <div class="card p-3">
        
          <div class="d-flex align-items-center mb-3">
            <img src="../../assets/images/image 30.png" alt="Product Image" class="me-3">
            <div class="flex-grow-1">
                <div class="d-flex justify-content-between">
              <p class="text1">MS 170 Petrol Chainsaw</p>
              <p style="color: #FF6900;">EDIT</p>
            </div>
              <p class="text2">QTY: 1</p>
              <button class="btn text-button p-0">X  REMOVE</button>
            </div>
        </div>
            <div class="text-end price-details d-flex justify-content-between line mb-1">
                <span class="text-danger mt-2">₹18,666  <del class="text-muted ms-2">₹23,866</del></span>
              
                <p class="text- mb-0 ms-2  mt-2" style="color: #969696;">Free Delivery</p>
              </div>
              
          
        </div>
        <p class="pam1" style="margin-top: 20px; margin-bottom: -8px;">Delivery Address</p>
        <div class="col-lg-12 col-md-12 mb-4 mt-4">
            <div class="card p-3" style="background-color: #fffdfd;">
           
              <div class="d-flex align-items-center mb-3">
                <div class="flex-grow-1">
                <div class="d-flex justify-content-between">
                  <p class="text9">Ankit Sharma</p>
                  <p style="color: #FF6900;">EDIT</p>
                </div>
                  <p class="text2">Opp. Max Show room, Lakshmipuram Main Rd, above Indian Terrain, Guntur, Andhra Pradesh 522007, India</p>
                  <button class="btn text-button p-0">+91 8498763887</button>
                </div>
            </div>
            </div>
          </div>
          <p class="pam1">Payment Mode</p>
          <div class="col-lg-12 col-md-12 mb-4 mt-4">
            <div class="card p-3" style="background-color: #fffdfd;">
                
                <div class="d-flex justify-content-between">
                    <span class="cash"><i class=" cash1 fa-solid fa-money-bill-wave"></i>Cash on Delievery </span>
                    <p style="color: #FF6900;">EDIT</p>
                  </div>
          
            
            </div>
          </div>
      </div>
  
      <div class="col-lg-5 col-md-12">
        <div class="card p-3">
          <span class="mb-3 price-det">Price Details</span>
          <ul class="list-unstyled mb-4">
            <li class="d-flex justify-content-between">
              <span class="right-text">Your Cart (1 Item)</span>
              <span class="left-side">₹32,866</span>
            </li>
            <li class="d-flex justify-content-between">
              <span class="right-text">Bag Discount</span>
              <span class="left-side">₹18,666</span>
            </li>
            <li class="d-flex justify-content-between">
              <span class="right-text">Shipping</span>
              <span class="text-success left-side">FREE</span>
            </li>
          </ul>
          <hr>
          <div class="d-flex justify-content-between mb-3">
            <strong class="right-text" style="font-weight: 700;">Subtotal</strong>
            <strong class="pric">₹18,666</strong>
          </div>
         
        </div>
        <button class="btn btn-orange w-100 mt-4 py-3">Place Order</button>
      </div>
    </div>

    <!-- <div> -->
        <!-- <button class="btn btn-orange w-50 mt-5">Continue</button> -->
        <!-- <button type="button" class="btn btn-lg btn-primary" >Primary button</button> -->
    <!-- </div> -->
<!-- 
    <div class="row mt-5">
        <div class="col-12 d-flex justify-content-end">
          <button class="btn btn-orange w-45">Continue</button>
        </div>
      </div> -->
  
    
  </div>
  <footer class="footer mt-auto  bg-light">
    <div class="container text-center">
      <div class="d-flex justify-content-center">
        <span class="me-3 foter"><i class="fas fa-check-circle"></i> 100% Genuine Products</span>
        <span class="me-3 foter"><i class="fas fa-undo-alt"></i> Easy Return Policy</span>
        <span class="foter"><i class="fas fa-store"></i> Sold by STIHL</span>
      </div>
    </div>
  </footer>

  