<div class="container"x>
    <div class="row img-si">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <img src="../../assets/images/image 17.png" alt="Logo">
            <p  class="xsign" (click)="closeDialog()">X</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 second mb-2 mt-4">
            <img src="../../assets/images/image 22.png" alt="All Battery Products">
            <p>All Battery Products</p>
        </div>
        <div class="col-12 second mb-2">
            <img src="../../assets/images/image 22.png" alt="Mowing and Planting">
            <p>Mowing and Planting</p>
        </div>
        <div class="col-12 second mb-2">
            <img src="../../assets/images/image 21.png" alt="Cleaning and Tidying">
            <p>Cleaning and Tidying</p>
        </div>
        <div class="col-12 second mb-2">
            <img src="../../assets/images/image 23.png" alt="Sawing and Cutting">
            <p>Sawing and Cutting</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <ol class="list">
                <li (click)="navigateToSignIn()" (click)="closeDialog()">Login</li>
                <li>Order History</li>
                <li>Contact Us</li>
                <li>FAQ</li>
            </ol>
        </div>
    </div>

    <div class="col-12">
        <footer class="d-flex justify-content-center">
            <img src="../../assets/images/footer&facebook.png" alt="Footer Logo">
        </footer>
    </div>
</div>
