<div class="popup">
    <div class="popup-content">
      <div class="sunbit">
        <div class="circle">
          <i class="fa-solid fa-check circle-check" style="color: #249b3e;"></i>
        </div>
        <div class="text">
          <p class="text1">Congratulations!!</p>
          <!-- <p class="text2">Your Enquiry has been Submitted.<br> Our Consultant will get back to you Shortly!</p> -->
          <p class="text2">Congratulation your order has been<br> successfully placed.</p>

        </div>
      </div>
      <!-- <button class="close-popup" (click)="closePopup()">Close</button> -->
    </div>
  </div>