<!-- sign in page All work done -->
<!-- <app-sign-in></app-sign-in> -->
<!-- <app-footer></app-footer> -->

<!-- sign up page All work done-->
<!-- <app-sign-up></app-sign-up> -->

<!-- multi quiz page -->
 <!-- <app-multi-step-quiz></app-multi-step-quiz> -->

<!-- <app-header></app-header> -->

<!-- kam chalu aahe -->
<!-- <app-landing-page></app-landing-page> -->
 

<!-- Battery page1 -->
 <!-- <app-battery1></app-battery1> -->



<!-- he sagale checkout madil four page aahet -->
<!-- <app-cart-details></app-cart-details> -->
<!-- <app-shipping-details></app-shipping-details> -->
 <!-- <app-payment-details></app-payment-details> -->
 <!-- <app-summary></app-summary> -->



<!-- <app-compare-products></app-compare-products> -->
 

<!-- he wishlist complete zal aahe -->
 <!-- <app-wishlist></app-wishlist> -->

<!-- <app-newsletter></app-newsletter> -->


 <!-- <router-outlet></router-outlet> -->
  

 <!-- <app-menu-bar> </app-menu-bar> -->


 <app-cart-bar></app-cart-bar>