<!-- sign in page -->
<!-- <app-sign-in></app-sign-in> -->


<!-- sign up page -->
<!-- <app-sign-up></app-sign-up> -->

<!-- multi quiz page -->
 <!-- <app-multi-step-quiz></app-multi-step-quiz> -->



 <!-- he page delete karayach aahe
 <app-checkout></app-checkout> -->



 

<!-- Battery page1 -->
 <!-- <app-battery1></app-battery1> -->



<!-- he sagale checkout madil four page aahet -->
<!-- <app-cart-details></app-cart-details> -->
<!-- <app-shipping-details></app-shipping-details> -->
 <!-- <app-payment-details></app-payment-details> -->
 <!-- <app-summary></app-summary> -->



<app-compare-products></app-compare-products>
 

<!-- he wishlist complete zal aahe -->
 <!-- <app-wishlist></app-wishlist> -->


  