<!-- <app-sign-in></app-sign-in> -->
<!-- <app-sign-up></app-sign-up> -->
 <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-header></app-header>
        </div>
        
    </div>
    <div class="row">
        <div class="col-12">
           <app-multi-step-quiz></app-multi-step-quiz>
        </div>
        
    </div>
    <div class="row">
        <div class="col-12">
          <app-footer></app-footer>
        </div>
        
    </div>
 </div>

 <!-- <app-checkout></app-checkout> -->


<!-- <app-header></app-header> -->
 <!-- <app-battery1></app-battery1> -->
 <!-- <app-footer></app-footer> -->



<!-- <app-cart-details></app-cart-details> -->
<!-- <app-shipping-details></app-shipping-details> -->
 <!-- <app-payment-details></app-payment-details> -->
 <!-- <app-summary></app-summary> -->



<!-- <app-compare-products></app-compare-products> -->
 

<!-- <app-header></app-header> -->
 <!-- <app-wishlist></app-wishlist> -->
 <!-- <app-footer></app-footer> -->

  