<div class="newsletter-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-12">
          <h2>Subscribe to Our Newsletter</h2>
          <p>Get weekly updates about our product on your email, Stay Updated with the Latest Deals! ✌️</p>
          <div class="subscribe-box">
            <input type="email" class="subscribe-input" placeholder="Enter your Email" />
            <button class="subscribe-btn">SUBSCRIBE</button>
          </div>
        </div>
        <div class="col-lg-8 col-md-12 d-flex justify-content-center">
          <img class="img-size" src="../../assets/images/newsletter.png" alt="">
        </div>
      </div>
    </div>
  </div>
  