<app-header></app-header>

<div class="container  mb-5">
    <!-- Important for many components -->
    <div class="row d-flex mt-4">
        <div class="col-6 col-md-3 d-flex align-items-center justify-content-center">
            <img src="../../assets/images/image 22.png" alt="" class="img-fluid">
            <p>All Battery Products</p>
        </div>
        <div class="col-6 col-md-3 d-flex align-items-center">
            <img src="../../assets/images/image 22.png" alt="" class="img-fluid">
            <p>Cleaning and Tidying</p>
        </div>
        <div class="col-6 col-md-3 d-flex align-items-center">
            <img src="../../assets/images/image 22.png" alt="" class="img-fluid">
            <p>Sawing and Cutting</p>
        </div>
        <div class="col-6 col-md-3 d-flex align-items-center">
            <img src="../../assets/images/image 22.png" alt="" class="img-fluid">
            <p>Mowing and Planting</p>
        </div>
    </div>

    <div class="container mb-1" style="background-color: #F3F3F3;">
        <div>HomePage > Sawing and Cutting > Chainsaws</div>
    </div>

    <div class="container mt-2">
        <div class="row">
            <div class="col-md-5">
                <div class="d-flex justify-content-end mb-3">
                    <span class="online"><i class="fa-solid fa-arrow-down-up-across-line"></i> Compare</span>
                    <span class="online"><i class="fa-regular fa-heart"></i>&nbsp; Wishlist</span>
                    <span class="online"><i class="fa-solid fa-share-nodes"></i>&nbsp; Share</span>
                </div>

                <div class="row">
                    <div class="col-3 col-md-2">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <img src="../../assets/images/image 33.png" alt="" class="list-img img-fluid">
                            </li>
                            <li class="list-group-item">
                                <img src="../../assets/images/image 33.png" alt="" class="list-img img-fluid">
                            </li>
                            <li class="list-group-item">
                                <img src="../../assets/images/image 33.png" alt="" class="list-img img-fluid">
                            </li>
                            <li class="list-group-item">
                                <img src="../../assets/images/image 33.png" alt="" class="list-img img-fluid">
                            </li>
                        </ul>
                    </div>
                    <div class="col-9 col-md-10">
                        <div class="product">
                            <img src="../../assets/images/image 30.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-6">
                        <button class="btn btn-add-to-cart">Add To Cart</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-buy-now">Buy Now</button>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-6">
                        <p class="ratings-review">Ratings & Reviews</p>
                    </div>
                    <div class="col-6 text-right">
                        <button class="write-review btn">Write Review</button>
                    </div>
                </div>

                <div>
                    <img src="../../assets/images/Frame 79.png" alt="" class="img-fluid">
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="review-header d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="fa-brands fa-adn"></i>
                                <p class="ml-2 mb-0">Ankit Sharma</p>
                                <p class="mb-0 ml-2">4<i class="fa-solid fa-star"></i></p>
                            </div>
                            <p class="mb-0">22/03/2022</p>
                        </div>
                        <p class="verified-buyers">Verified Buyers</p>
                    </div>
                </div>

                <div class="row">
                    <p>"Great Product! Must Buy!"</p>
                    <p>I've been using the STIHL chainsaw for over a year now, and I couldn't be happier with its performance. As a professional arborist, I've tried many chainsaws, but none</p>
                </div>

                <div class="row">
                    <div class="col-6 col-sm-4">
                        <img src="../../assets/images/Border (1).png" alt="img" class="img-fluid">
                    </div>
                    <div class="col-6 col-sm-4">
                        <img src="../../assets/images/Border (1).png" alt="img" class="img-fluid">
                    </div>
                </div>

                <div class="helpful-info mt-2 mb-4">
                    <button class="helpful btn">Helpful<i class="fa-regular fa-thumbs-up"></i></button>
                    <p class="number">773</p>
                    <p class="info">people found this helpful</p>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn color-butt" type="button">Read more reviews</button>
                </div>
            </div>

            <div class="col-md-7">
                <div class="product-info">
                    <p class="title mb-3">MS 170 Petrol Chainsaw</p>
                    <p class="description mb-1">Handy introductory chainsaw for thinning out wood, sawing firewood, and for felling small trees up to approx. 30 cm in diameter. Light and easy to handle. Convenient single lever master control. Available with 12"/30cm guide bar.</p>
                </div>

                <div class="info-container mb-4">
                    <p class="rating">
                        4 <i class="fa-solid fa-star"></i>
                    </p>
                    <p class="reviews">
                        7,126 ratings & 396 reviews
                    </p>
                </div>

                <div class="price-container d-flex mt-2">
                    <p class="mrp">MRP:&nbsp;</p>
                    <p class="original-price"><del>&nbsp;₹32,866</del></p>
                    <p class="discounted-price">&nbsp;&nbsp;&nbsp;₹18,666</p>
                    <p class="discount">&nbsp;&nbsp;&nbsp;&nbsp;50% Off</p>
                </div>
                <p class="gst-info mb-5">This MRP includes 18% GST.</p>

                <div class="row">
                    <p>Delivery Options</p>
                    <p>Delivery Options</p>
                </div>

                <div class="text-container">
                    <p class="description-button">Description</p>
                    <p class="faq">FAQ</p>
                </div>

                <div class="list-item">
                    <p class="heading">Description</p>
                    <p class="content">The STIHL MS 291 petrol-driven chainsaw offers the cutting performance you need for sawing work in the forest as well as in agriculture, construction, and horticulture. It is equipped with sophisticated features that support you in your work and ensure the power tool remains highly effective even with frequent use.</p>
                </div>

                <div class="list-item">
                    <p class="heading">Technical Details</p>
                    <p class="content">POWER OUTPUT : 2.8/3.8 kW/bhp</p>
                </div>

                <div class="list-item">
                    <p class="heading">Features</p>
                    <p class="content">FOR SIMPLE AND SECURE RE-TENSIONING. Side-mounted chain tensioning allows for protected, easy, and quick chain tensioning and replacement. The tensioning screw is inserted laterally through the sprocket cover.</p>
                </div>

                <div class="list-item">
                    <p class="heading">SIDE-MOUNTED CHAIN TENSIONING</p>
                    <p class="content">FOR SIMPLE AND SECURE RE-TENSIONING. Side-mounted chain tensioning allows for protected, easy, and quick chain tensioning and replacement. The tensioning screw is inserted laterally through the sprocket cover.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-12 mx-lg-4 cart-d mb-4">
                <p>
                    <span class="cart-text">Similar </span>
                    <span class="details-text">Products</span>
                </p>
            </div>
        </div>
        <div class="prod1">
            <div class="prod2 mb-4">
                <div class="card product_card">
                    <div class="product-card">
                        <div class="product_img d-flex align-items-center justify-content-center">
                            <img src="../../assets/images/image 28.png" alt="Product Image" class="img-fluid product_image" />
                        </div>
                        <p class="product_title">FS 410 Petrol Brushcutter - AP system</p>
                        <p class="product_description">
                            Flexible cordless chainsaw for range of uses
                        </p>
                        <div class="product_price">
                            <span>₹10499</span> &nbsp; &nbsp;
                            <span class="old-price"><del>₹14999</del></span>
                        </div>
                        <hr />
                        <div class="save_price">
                            <span>Save - ₹4500</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prod2 mb-4">
                <div class="card product_card">
                    <div class="product-card">
                        <div class="product_img d-flex align-items-center justify-content-center">
                            <img src="../../assets/images/image 28.png" alt="Product Image" class="img-fluid product_image" />
                        </div>
                        <p class="product_title">MSA 160 Cordless -AP system</p>
                        <p class="product_description">
                            Flexible cordless chainsaw for range of uses
                        </p>
                        <div class="product_price">
                            <span>₹10499</span> &nbsp; &nbsp;
                            <span class="old-price"><del>₹14999</del></span>
                        </div>
                        <hr />
                        <div class="save_price">
                            <span>Save - ₹4500</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prod2 mb-4">
                <div class="card product_card">
                    <div class="product-card">
                        <div class="product_img d-flex align-items-center justify-content-center">
                            <img src="../../assets/images/image 28.png" alt="Product Image" class="img-fluid product_image" />
                        </div>
                        <p class="product_title">FSA 57 Grass Trimmer - AK systems</p>
                        <p class="product_description">
                            Flexible cordless chainsaw for range of uses
                        </p>
                        <div class="product_price">
                            <span>₹10499</span> &nbsp; &nbsp;
                            <span class="old-price"><del>₹14999</del></span>
                        </div>
                        <hr />
                        <div class="save_price">
                            <span>Save - ₹4500</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prod2 mb-4">
                <div class="card product_card">
                    <div class="product-card">
                        <div class="product_img d-flex align-items-center justify-content-center">
                            <img src="../../assets/images/image 28.png" alt="Product Image" class="img-fluid product_image" />
                        </div>
                        <p class="product_title">FSA 57 Grass Trimmer - AK systems</p>
                        <p class="product_description">
                            Flexible cordless chainsaw for range of uses
                        </p>
                        <div class="product_price">
                            <span>₹10499</span> &nbsp; &nbsp;
                            <span class="old-price"><del>₹14999</del></span>
                        </div>
                        <hr />
                        <div class="save_price">
                            <span>Save - ₹4500</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prod2 mb-4">
                <div class="card product_card">
                    <div class="product-card">
                        <div class="product_img d-flex align-items-center justify-content-center">
                            <img src="../../assets/images/image 28.png" alt="Product Image" class="img-fluid product_image" />
                        </div>
                        <p class="product_title">FSA 57 Grass Trimmer - AK systems</p>
                        <p class="product_description">
                            Flexible cordless chainsaw for range of uses
                        </p>
                        <div class="product_price">
                            <span>₹10499</span> &nbsp; &nbsp;
                            <span class="old-price"><del>₹14999</del></span>
                        </div>
                        <hr />
                        <div class="save_price">
                            <span>Save - ₹4500</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<app-footer></app-footer>
