<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/images/back1.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/back2.png" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/images/back3.png" alt="Third slide">
        </div>
    </div>
</div>
<div class="container">
    <div>
        HomePage > Sawing and Cutting > Chainsaws
    </div>
</div>

<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="sub_categories">Sub Categories</h5>
                    <ul class="list-unstyled custom-list">
                        <li><h6>All</h6></li>
                        <li><h6>Chainsaws</h6></li>
                        <li><h6>Hedge trimmers and long-reach hedge trimmers</h6></li>
                        <li><h6>Pole Pruner</h6></li>
                        <li><h6>KombiSystem and MultiSystem</h6></li>
                        <li><h6>Garden pruners, secateurs, loppers, shears & pruning saws</h6></li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="sub_categories">Filter</h5>
                    <div class="range mb-4">
                        <label for="priceRange">Price</label><br>
                        <input type="range" id="priceRange" name="priceRange" min="0" max="100000" class="form-range">
                        <div class="d-flex justify-content-between mt-2">
                            <span id="minValue" class="value-border">0</span> to
                            <span id="maxValue" class="value-border">100000</span>
                        </div>
                    </div>
                    <div class="custom-select mt-2">
                        <select id="userGroup" name="userGroup" class="form-select">
                            <option value="" disabled selected>User Group</option>
                        </select>
                    </div>
                    <div class="custom-select mt-2">
                        <select id="application" name="application" class="form-select">
                            <option value="" disabled selected>Application</option>
                        </select>
                    </div>
                    <div class="custom-select mt-2">
                        <select id="drive" name="drive" class="form-select">
                            <option value="" disabled selected>Drive</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-8">
            <div class="container">
                <h3>Chainsaws</h3>
                <div class="row">
                    <!-- Repeat this block for each product -->
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card product_card">
                            <div class="product-card">
                                <div class="product_img">
                                    <img src="../../assets/images/image 30.png" alt="Product Image" class="img-fluid product_image">
                                </div>
                                <p class="product_title">MSA 160 Cordless Chainsaw - AP system</p>
                                <p class="product_description">Flexible cordless chainsaw for range of uses</p>
                                <div class="product_price">
                                    <span>₹28,385</span> &nbsp; &nbsp;
                                    <span class="old-price"><del>₹40,000</del></span>
                                </div>
                                <hr>
                                <div class="save_price">
                                    <span>Save ₹12,614</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card product_card">
                            <div class="product-card">
                                <div class="product_img">
                                    <img src="../../assets/images/image 30.png" alt="Product Image" class="img-fluid product_image">
                                </div>
                                <p class="product_title">MSA 160 Cordless Chainsaw - AP system</p>
                                <p class="product_description">Flexible cordless chainsaw for range of uses</p>
                                <div class="product_price">
                                    <span>₹28,385</span> &nbsp; &nbsp;
                                    <span class="old-price"><del>₹40,000</del></span>
                                </div>
                                <hr>
                                <div class="save_price">
                                    <span>Save ₹12,614</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card product_card">
                            <div class="product-card">
                                <div class="product_img">
                                    <img src="../../assets/images/image 30.png" alt="Product Image" class="img-fluid product_image">
                                </div>
                                <p class="product_title">MSA 160 Cordless Chainsaw - AP system</p>
                                <p class="product_description">Flexible cordless chainsaw for range of uses</p>
                                <div class="product_price">
                                    <span>₹28,385</span> &nbsp; &nbsp;
                                    <span class="old-price"><del>₹40,000</del></span>
                                </div>
                                <hr>
                                <div class="save_price">
                                    <span>Save ₹12,614</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card product_card">
                            <div class="product-card">
                                <div class="product_img">
                                    <img src="../../assets/images/image 30.png" alt="Product Image" class="img-fluid product_image">
                                </div>
                                <p class="product_title">MSA 160 Cordless Chainsaw - AP system</p>
                                <p class="product_description">Flexible cordless chainsaw for range of uses</p>
                                <div class="product_price">
                                    <span>₹28,385</span> &nbsp; &nbsp;
                                    <span class="old-price"><del>₹40,000</del></span>
                                </div>
                                <hr>
                                <div class="save_price">
                                    <span>Save ₹12,614</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card product_card">
                            <div class="product-card">
                                <div class="product_img">
                                    <img src="../../assets/images/image 30.png" alt="Product Image" class="img-fluid product_image">
                                </div>
                                <p class="product_title">MSA 160 Cordless Chainsaw - AP system</p>
                                <p class="product_description">Flexible cordless chainsaw for range of uses</p>
                                <div class="product_price">
                                    <span>₹28,385</span> &nbsp; &nbsp;
                                    <span class="old-price"><del>₹40,000</del></span>
                                </div>
                                <hr>
                                <div class="save_price">
                                    <span>Save ₹12,614</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card product_card">
                            <div class="product-card">
                                <div class="product_img">
                                    <img src="../../assets/images/image 30.png" alt="Product Image" class="img-fluid product_image">
                                </div>
                                <p class="product_title">MSA 160 Cordless Chainsaw - AP system</p>
                                <p class="product_description">Flexible cordless chainsaw for range of uses</p>
                                <div class="product_price">
                                    <span>₹28,385</span> &nbsp; &nbsp;
                                    <span class="old-price"><del>₹40,000</del></span>
                                </div>
                                <hr>
                                <div class="save_price">
                                    <span>Save ₹12,614</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card product_card">
                            <div class="product-card">
                                <div class="product_img">
                                    <img src="../../assets/images/image 30.png" alt="Product Image" class="img-fluid product_image">
                                </div>
                                <p class="product_title">MSA 160 Cordless Chainsaw - AP system</p>
                                <p class="product_description">Flexible cordless chainsaw for range of uses</p>
                                <div class="product_price">
                                    <span>₹28,385</span> &nbsp; &nbsp;
                                    <span class="old-price"><del>₹40,000</del></span>
                                </div>
                                <hr>
                                <div class="save_price">
                                    <span>Save ₹12,614</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card product_card">
                            <div class="product-card">
                                <div class="product_img">
                                    <img src="../../assets/images/image 30.png" alt="Product Image" class="img-fluid product_image">
                                </div>
                                <p class="product_title">MSA 160 Cordless Chainsaw - AP system</p>
                                <p class="product_description">Flexible cordless chainsaw for range of uses</p>
                                <div class="product_price">
                                    <span>₹28,385</span> &nbsp; &nbsp;
                                    <span class="old-price"><del>₹40,000</del></span>
                                </div>
                                <hr>
                                <div class="save_price">
                                    <span>Save ₹12,614</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card product_card">
                            <div class="product-card">
                                <div class="product_img">
                                    <img src="../../assets/images/image 30.png" alt="Product Image" class="img-fluid product_image">
                                </div>
                                <p class="product_title">MSA 160 Cordless Chainsaw - AP system</p>
                                <p class="product_description">Flexible cordless chainsaw for range of uses</p>
                                <div class="product_price">
                                    <span>₹28,385</span> &nbsp; &nbsp;
                                    <span class="old-price"><del>₹40,000</del></span>
                                </div>
                                <hr>
                                <div class="save_price">
                                    <span>Save ₹12,614</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card product_card">
                            <div class="product-card">
                                <div class="product_img">
                                    <img src="../../assets/images/image 30.png" alt="Product Image" class="img-fluid product_image">
                                </div>
                                <p class="product_title">MSA 160 Cordless Chainsaw - AP system</p>
                                <p class="product_description">Flexible cordless chainsaw for range of uses</p>
                                <div class="product_price">
                                    <span>₹28,385</span> &nbsp; &nbsp;
                                    <span class="old-price"><del>₹40,000</del></span>
                                </div>
                                <hr>
                                <div class="save_price">
                                    <span>Save ₹12,614</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card product_card">
                            <div class="product-card">
                                <div class="product_img">
                                    <img src="../../assets/images/image 30.png" alt="Product Image" class="img-fluid product_image">
                                </div>
                                <p class="product_title">MSA 160 Cordless Chainsaw - AP system</p>
                                <p class="product_description">Flexible cordless chainsaw for range of uses</p>
                                <div class="product_price">
                                    <span>₹28,385</span> &nbsp; &nbsp;
                                    <span class="old-price"><del>₹40,000</del></span>
                                </div>
                                <hr>
                                <div class="save_price">
                                    <span>Save ₹12,614</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card product_card">
                            <div class="product-card">
                                <div class="product_img">
                                    <img src="../../assets/images/image 30.png" alt="Product Image" class="img-fluid product_image">
                                </div>
                                <p class="product_title">MSA 160 Cordless Chainsaw - AP system</p>
                                <p class="product_description">Flexible cordless chainsaw for range of uses</p>
                                <div class="product_price">
                                    <span>₹28,385</span> &nbsp; &nbsp;
                                    <span class="old-price"><del>₹40,000</del></span>
                                </div>
                                <hr>
                                <div class="save_price">
                                    <span>Save ₹12,614</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End repeat block -->
                </div>
            </div>
        </div>
    </div>
</div>